<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
	<title>Document</title>
	<style>
		*{
			margin: 0;
			padding: 0;
		}

		.header{
			height: 150px;
			background-color: red;
		}
		.main{
			height: 300px;
			background-color: yellow;
		}
		.footer{
			height: 100px;
			background-color: green;
		}
		.main .left{
			float: left;
			background-color: #eee;
		}
		.main .right{
			float:right;
			background-color: blue;
		}
		.main .middle{
			background-color: #333;
		}
		
	</style>
</head>
<body>
	<div class="header">我是头部</div>
	<div class="main">
		<div class="left">我是左边</div>
		<div class="right">我是右边</div>
		<div class="middle">我是中间</div>
	</div>
	<div class="footer">我是尾部</div>
</body>
</html>